@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Lutkarska 55<br />
    10000 Zagreb, hrvatska<br />
    Tel: 01 4444 444<br />
    <strong>email:</strong> <a href="kazaliste.lutaka@lutke.hr">kazaliste.lutaka@lutke.hr</a><br />
   
</address>

<address>
    <strong>Informacije:</strong> <a href="Informacije.lutaka@lutke.hr">Informacije@lutke.hr</a><br />
    <strong>Marketing:</strong> <a href="Marketing.lutaka@lutke.hr">Marketing@lutke.hr</a>
</address>
