@model Kazalište_lutaka.Models.Raspored

@{
    ViewData["Title"] = "Unesi novi termin izvedbe";
}

<h2></h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Raspored</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="DatPredstave" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DatPredstave" class="form-control" />
                <span asp-validation-for="DatPredstave" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PredstaveId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PredstaveId" class ="form-control" asp-items="ViewBag.PredstaveId"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kreiraj" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Natrag na popis</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
